stages:
  - deploy
  - test

variables:
  FQDN: markusritzmann.ch

deploy:
  stage: deploy
  image: debian:latest
  script:
  - apt update
  - apt -y install openssh-client rsync
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_KEY")
  - mkdir -p ~/.ssh
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  - rsync --recursive --archive ./ ${SSH_HOST}:~
  - ssh ${SSH_HOST} 'sudo /usr/sbin/service nginx reload'

include:
#  - tests/securitytxt.yml
#  - tests/securityheaders.yml
#  - tests/redirects.yml
#  - tests/dns.yml
#  - tests/ssllabs.yml
#  - tests/pagespeed.yml
  - tests/whois.yml
