html, body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body
{
    background-color: #808080;
    background-image: url(../img/hintergrund.jpg);
    background-size: cover;
}

#content
{
    position: absolute;
    width: 1000px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -250px;
}

.text
{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
}

.titel
{
    font-size: 100px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.slogan
{
    font-size: 34px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.sozial_media
{
    font-size: 90px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.mail
{
    font-size: 34px;
    text-align: center;
    margin: 0px;
    padding: 0px; 
    unicode-bidi: bidi-override;    /* Spam Schutz http://staticfloat.com/php-programmieren/e-mail-adresse-gegen-spambots-auf-webseite-schutzen/ */
    direction: rtl;                 /* Spam Schutz http://staticfloat.com/php-programmieren/e-mail-adresse-gegen-spambots-auf-webseite-schutzen/ */   
}

a:link
{
    color: white;
    text-decoration: none;
}

a:visited
{
    color: white;
}

a:hover
{
    color: black;
}