html, body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body
{
    background-color: #808080;
    background-size: cover;
}

/* link decoration */

a:link
{
    color: white;
    text-decoration: none;
}

a:visited
{
    color: white;
}

a:hover
{
    color: black;
}

/* divs */

#content
{
    position: absolute;
    width: 1000px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -250px;
}

#backgroundcredit
{
    position: absolute;
    width: 400px;
    height: 21px;
    bottom: 30px;
    left: 30px;
    margin-left: ;
    margin-top: ;
}

/* classes */

.text
{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
}

.titel
{
    font-size: 100px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.slogan
{
    font-size: 34px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.sozial_media
{
    font-size: 90px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.mail
{
    font-size: 34px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.backgroundcredit
{
    margin: 0px;
    padding: 0px;
}

/* Background Video */

video#bgvid
{
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
